<div class="vsc-initialized">
<section>
	<p class="alignC"><img src="/assets/bar/bar_interact.png" width="100%" alt="情報交換BBS"></p>
</section>

<section id="content_area">
	<div id="content_main_area" class="in_box_sizing" style="z-index:2;">
    	<div id="content_main_area_in">

		
    <div class="category_area">
			<table width="100%" border="0" cellpadding="0" cellspacing="0" summary="">
				<tr>
					<td class="td_txt_explanation" style="width:60%">
						この内容で投稿致します。<br>
						よろしければ【投稿する】ボタンを押してください。
					</td>
				  	<td class="btn_submit_area" style="align:right;vertical-align:middle;">
              <%= form_for(@topic, url: @topic.new_record? ? [ :new, :topic ] : [ :edit, @topic ]) do |b| %>
								<% [ :title, :content, :category_id, :image, :image_cache ].each do |attr| %>
  							  <%= b.hidden_field attr %>
  							<% end %>
								<%= b.submit '訂正する', class:"btn_delete in_box_sizing", style:"width:95%;" %>
							<% end %>
				  	</td>
          <td class="btn_submit_area" style="align:right;vertical-align:middle;">
						<%= form_for(@topic) do |f| %>
							<% [ :title, :content, :category_id, :image, :image_cache ].each do |attr| %>
  						  <%= f.hidden_field attr %>
  						<% end %>
						<%= f.submit '投稿する', class:"btn_submit in_box_sizing", style:"width:95%;" %>
				  </td>
				</tr>
            </table>
        </div><!-- category_area -->

        <!-- トピック詳細 -->
        <div class="category_area" style="position:relative;">
            <form action="" method="">
                <table width="100%" border="0" cellpadding="0" cellspacing="0" summary="">
                    <tr>
                        <td class="td_category"><img src="/assets/category/category_name2.png" alt="投稿入力フォーム"></td>
                        <td style="cursor: pointer;" class="td_txt_explanation">
							<span id=n_0><%=@topic.user.name%></span>
						</td>
                    </tr>
                    <tr>
                        <td class="td_category" style="padding-top:5px;"><img src="/assets/category/category_contribution_name.png" alt="トピック名"></td>
                        <td class="td_txt_explanation" valign="top" style="padding-top:5px;">
                            <span class="txt_contribution_title"><%=@topic.title%></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="td_category" style="padding-top:5px;"><img src="/assets/category/category_contribution_content.png" alt="本文"></td>
                        <td class="td_txt_explanation" style="padding-top:5px;">
                            <span class="txt_contribution_content"><span id=td_0><%=@topic.content%></span>
														<% if @image.present?%>
															<a class="modalLink" href="#modal1" id='0'><img style="max-width:54px;padding:0 0 .15rem .25rem;" src="/assets/bg/icon_photo.png" alt="画像"></a></span>
														<%end%>
                        </td>
                    </tr>
              			<tr>
              			  <td class="td_category" style="padding-top:5px;"><img src="/assets/category/category_contribution_content.png" alt="本文"></td>
              			  <td class="td_txt_explanation" style="padding-top:5px;">
              			    <%= @topic.category.name %>
              			  </td>
              			</tr>
										<% if @topic.image.present? %>
              				<tr>
              				  <td class="td_category" style="padding-top:5px;"><img src="/assets/category/category_contribution_content.png" alt="本文"></td>
              				  <td class="td_txt_explanation" style="padding-top:5px;">
              				    <%= image_tag @topic.image.url, class:"icon80", style:"max-height: 4.5rem;max-width: 4.5rem;border-radius: 5px;" %>
                          <%= f.check_box :remove_image %><span class="small bold">画像を削除する（投稿後に反映されます）</span>
              				  </td>
              				</tr>
										<%end%>
                    <% if request.post? %>
              			  <%= f.fields_for @enquete do |i| %>
										  	<% params[:enquetes]['content'].each.with_index(1) do |enquete, index| %>
										  		<% if enquete.present? %>
              			    		<tr>
              			    		  <td class="td_category" style="padding-top:5px;"><img src="/assets/category/category_vote.png" alt="アンケート<%=index%>"></td>
              			    		  <td class="td_txt_explanation" valign="top" style="padding-top:5px;">
										  					<%= enquete %>
										  					<%= i.hidden_field :content, name: "enquetes[content][]", value: enquete %>
              			    		  </td>
              			    		</tr>
										  		<%end%>
										  	<%end%>
										  <%end%>
                    <%end%>
                </table>
            </form>
        </div><!-- category_area -->
			<% end %>

        <div class="category_area">
			    <div style="clear:both;"></div>
        </div><!-- category_area -->

      </div><!-- content_main_area_in -->
    </div><!-- content_main_area -->
</section>
</div>

