<div class="vsc-initialized">
  <section style="padding:10px;">
    <%= link_to root_path, class:"alignL btn_repo", style:"height:50px;font-size:35px;width:auto;" do %>　コミュニティ掲示板<%end%>
  </section>
  <section id="content_area">
    <div id="content_main_area" class="in_box_sizing" style="z-index:2;">
      <div id="content_main_area_in">
        <div class="category_area">
          <%= form_for @select_topics, url: delete_confirm_topics_path do |f| %>
          <table width="100%" border="0" cellpadding="0" cellspacing="0" summary="">
            <tr>
              <td class="td_txt_explanation" style="width:60%">
                削除する投稿トピックにチェックを入れてください。<br>
                ※削除を行った項目は復旧させることはできませんのであらかじめ<br>
                ご了承ください。
              </td>
              <td class="btn_submit_area" style="align:right;vertical-align:middle;">
                <%= link_to "戻る", topics_path, class:"btn_delete in_box_sizing", style:"width:95%;" %>
              </td>
              <% if @topic.present? %>
              <td class="btn_submit_area" style="align:right;vertical-align:middle;">
                <%= f.submit "削除を確認する", class:"btn_submit in_box_sizing", style:"width:95%", data:{ turbolinks: false } %>
              </td>
              <%end%>
            </tr>
          </table>
        </div>
        <div class="category_area" style="position:relative;">
          <table width="100%" border="0" cellpadding="0" cellspacing="0" summary="">
            <tr>
              <td class="td_category">
                <div class="btn_repo"><%=current_user.name%>の投稿一覧</div>
              </td>
              <td style="cursor: pointer;" class="td_txt_explanation">
                <span class="txt_contribution_title">
                  <% if @topic.present? %>
                  削除するトピックを選択してください。
                  <% else %>
                  投稿されたトピックがありません
                  <% end %>
                </span>
              </td>
            </tr>
            <tr>
              <td></td>
              <td>
                <hr style="visibility:hidden">
              </td>
            </tr>
          </table>
          <% if @topic.present? %>
          <table class="contribution_list_table" width="100%" border="0" cellpadding="0" cellspacing="0" summary="">
            <tr>
              <td class="contribution_no_first">トピック名</td>
              <td class="contribution_no_first">ステータス</td>
              <td class="contribution_no_first">カテゴリー</td>
              <td class="contribution_no_first">作成日</td>
              <td class="contribution_no_first">削除選択/編集</td>
            </tr>
            <% @topic.each do |topic| %>
            <tr>
              <td class="txt_comment_name" align="left">
                <%= link_to "#{topic.title}", topic_path(topic.id), class:"blue", style:"text-decoration:none;", data:{ turbolinks: false } %>
              </td>
              <td class="txt_comment_date">
                閲覧数:<%= topic.impressions.length %>　回答数:<%= topic.comments.length %>　評価数:<%= topic.topic_likes.length %>
              </td>
              <td class="txt_comment_date"><%= topic.category.name %></td>
              <td class="txt_comment_date"><%= topic.created_at.strftime("%Y/%m/%d") %></td>
              <td class="contribution_delete">
                <%= check_box_tag 'topic[id][]', topic,false, value:"#{topic.id}", selected:'topic[id][]' %>削除する/
                <%= link_to "トピックを編集する", "/topics/#{topic.id}/edit", method: :get, class:"rnk_button2 white", style:"width:160px;height:20px;line-height:1.3;vertical-align:middle;font-weight:normal;display:inline-block;text-decoration:none;" %>
              </td>
            </tr>
            <%end%>
          </table>
          <%end%>
          <%end%>
        </div>
      </div>
    </div>
  </section>
</div>