<head>
<script type="text/javascript">
function opent(oid){
	$('#'+oid).css({'height':'20em'});
	$('#overlay').show();
}
$(function () {
	$('#tmenu').bind('click', 
		function(e){
			if($('#overlay').css('display') == 'block' && e.target.className=="menu1") {
				$('#t1').css({'height':'1.5em'});
				$('#overlay').hide();
			}
		}
	);
});

</script>

<style type="text/css">
#t1{
height: 1.5em;
}

</style>

<script language="JavaScript">
	function comme_call(num)
	{
		document.form_comme.topic_id.value=num;
		document.form_comme.submit();
	}
</script>

</head>

<body>
<section>
	<a class="alignC" href="/"><img src="/assets/bar/bar_interact.png" width="100%" alt="情報交換BBS"></a>
</section>


<section id="content_area"  style="position: relative;">

	<div style="position: absolute;top:0;z-index:1000;width: 100%;">
		<ul id="tmenu" class="menu1" style="width: 97%;position: absolute;margin-left: 3%;margin-right: 0%;margin-top: 0.25em;z-index:1000;">
			<li id=t1 >
				<ul>
					<li style="float:none;width:100%;display: block;margin: 0;position: relative;z-index:1001;"><a href="javascript:void(0)" style="width:100%;display: block;margin: 0;position: relative;z-index:1002;" onclick="opent('t1');event.preventDefault();return false;" class="white">カテゴリ一覧 ▼</a></li>
					<li style="float:none;width:100%;display: block;margin: 0;"><a href="javascript:void(0)" style="width:100%;display: block;margin: 0;" onclick="location.href='/topics'" method=GET class="white">全部</a></li>
					<li style="float:none;width:100%;display: block;margin: 0;"><a href="javascript:void(0)" style="width:100%;display: block;margin: 0;" onclick="location.href='/topics/2/index_category'" method=GET class="white">募集</a></li>
					<li style="float:none;width:100%;display: block;margin: 0;"><a href="javascript:void(0)" style="width:100%;display: block;margin: 0;" onclick="location.href='/topics/3/index_category'" method=GET class="white">情報</a></li>
					<li style="float:none;width:100%;display: block;margin: 0;"><a href="javascript:void(0)" style="width:100%;display: block;margin: 0;" onclick="location.href='/topics/4/index_category'" method=GET class="white">質問</a></li>
					<li style="float:none;width:100%;display: block;margin: 0;"><a href="javascript:void(0)" style="width:100%;display: block;margin: 0;" onclick="location.href='/topics/5/index_category'" method=GET class="white">雑記</a></li>
					<li style="float:none;width:100%;display: block;margin: 0;"><a href="javascript:void(0)" style="width:100%;display: block;margin: 0;" onclick="location.href='/topics/6/index_category'" method=GET class="white">競売</a></li>
				</ul>
			</li>
			<li><a href="javascript:void(0)" onclick="location.href='/topics/1/index_sort'" class="white">閲覧順</a></li>
			<li><a href="javascript:void(0)" onclick="location.href='/topics/2/index_sort'" class="white">評価順</a></li>
			<li><a href="javascript:void(0)" onclick="location.href='/topics/3/index_sort'" class="white">新着順</a></li>
			<li><a href="javascript:void(0)" onclick="location.href='/topics/4/index_sort'" class="white">更新順</a></li>
			<li><a href="javascript:void(0)" onclick="location.href='/topics/5/index_sort'" class="white">MY投稿</a></li>
		</ul>
	</div>
	<div id="overlay" style="width: 100%;height: 100%;position: fixed;top: 0;left: 0;z-index: 100;background: #000;opacity: 0.7; display: none; background-color: rgb(0, 0, 0);" onclick="$('#t1').css({'height':'1.5em'});$(this).hide();"></div>
	<div id="content_main_area" class="in_box_sizing" style="position:absolute;top:2.5rem;z-index:1;width: 99.5%;" >
    <div id="content_main_area_in" >
			<div class="category_area">
		    <table width="100%" border="0" cellpadding="0" cellspacing="0" summary="">
			    <tr>
						<td class="td_txt_explanation" style="width:60%;font-size:16px;">
							<%= search_form_for @q do |f|%>
								<%= f.label :sorts,'ソート：' %>
    						<%= f.select( :sorts, { '並び替え': 'title desc', '閲覧順': 'impressions_count desc', '評価順': 'topic_likes_count desc', '新着順': 'created_at desc', '更新順': 'updated_at desc' } , { selected: params[:q][:sorts] }, { onchange: 'this.form.submit()'} )%><br>
								<%= f.label :category_id_eq_any,'カテゴリー：' %>
								<%= f.label :category_id_eq_any,'募集' %>
								<%= f.check_box :category_id_eq_any, { multiple: true }, 2, '' %>
								<%= f.label :category_id_eq_any,'情報' %>
								<%= f.check_box :category_id_eq_any, { multiple: true }, 3, '' %>
								<%= f.label :category_id_eq_any,'質問' %>
								<%= f.check_box :category_id_eq_any, { multiple: true }, 4, '' %>
								<%= f.label :category_id_eq_any,'雑記' %>
								<%= f.check_box :category_id_eq_any, { multiple: true }, 5, '' %>
								<%= f.label :category_id_eq_any,'競売' %>
								<%= f.check_box :category_id_eq_any, { multiple: true }, 6, '' %>
								<% if user_signed_in? %>
									<%= f.label :user_id_eq_any,'MY投稿' %>
									<%= f.check_box :user_id_eq_any, { multiple: true }, current_user.id, '' %>
								<%end%>
								<br>
								<%= f.search_field :title_cont, class:"contribution_input_txt_area in_box_sizing", style: "width: 50%;", placeholder:"トピック名で検索", value: "#{@q.title_cont}"%>
								<%= f.submit "トピック検索", class: "btn_s_inp", style: "width: auto; display:inline;height:32px;"%>
							<%end%>
						</td>

						<% if user_signed_in? %>
							<td class="td_txt_explanation" style="align:right;vertical-align:middle;width:6%;">
								<% if current_user.image.present? %>
									<%= image_tag current_user.image.url, class:"icon80", style:"max-height: 4.5rem;max-width: 4.5rem;border-radius: 5px;" %>
								<% else %>
									<%= image_tag '/assets/bar/noface.jpg', class:"icon80", style:"max-height: 4.5rem;max-width: 4.5rem;border-radius: 5px;" %>
								<% end %>
							</td>
							<td class="td_txt_explanation" style="align:right;vertical-align:middle;width:14%;font-size:32px;">
								<%= current_user.name %>
							</td>
							<td class="btn_submit_area" style="align:right;vertical-align:middle;">
								<%= button_to 'ログアウト', destroy_user_session_path, method: :delete, class: "btn_delete in_box_sizing", style:"width:95%" %>
							</td>
						<% else %>
							<td class="btn_submit_area" style="align:right;vertical-align:middle;">
								<%= button_to '新規登録', new_user_registration_path, method: :get, class:"btn_submit in_box_sizing", style:"width:95%;" %>
							</td>
							<td class="btn_submit_area" style="align:right;vertical-align:middle;">
								<%= button_to 'ログイン', new_user_session_path, class:"btn_s_inp in_box_sizing", style:"width:95%;" %>
							</td>
						<% end %>
					</tr>
						<%#投稿しました%>
						<%#削除しました%>
				</table>
			</div><!-- category_area -->
		

        <!-- 投稿一覧 -->
        <div class="category_area">
            <table width="100%" border="0" cellpadding="0" cellspacing="0" summary="">
              <tr>
                <td class="td_category"><img src="/assets/category/category_contribution_list.png" alt="トピック投稿一覧"></td>
                <td class="td_txt_explanation" style="width: auto;">今までに投稿したトピックの一覧です。</td>
                <td class="td_txt_explanation"  style="display:none;" >以降、投稿したトピックはありません。</td>
                <td class="td_txt_explanation"  style="display:none;" >情報交換がありません。</td>
								<% if user_signed_in? %>
									<td class="btn_submit_area" style="align:right;vertical-align:middle;">
										<%= button_to 'トピックの編集・削除', delete_select_topics_path, method: :get, class:"btn_s_inp in_box_sizing", style:"width:95%;" %>
									</td>
									<td class="btn_submit_area" style="align:right;vertical-align:middle;">
										<%= button_to '投稿する', new_topic_path, method: :get, class:"btn_submit in_box_sizing", style:"width:95%;" %>
									</td>
								<% end %>
              </tr>
            </table>

<% @topic.each_slice(2) do |a,b| %>
	<ul class=bbsList>
		<li>
			<div class="bbsBox" 						onclick="location.href='/topics/<%=a.id%>'" style="cursor: pointer;">
				<% if a.user.image.present?%>
					<a><%= image_tag a.user.image.url, class:"icon80" %></a>
				<%else%>
					<a><%= image_tag '/assets/bar/noface.jpg', class:"icon80" %></a>
				<%end%>
				<p class="bbsDetail" ><%=a.title%><img class=bbsImglnk  src="/assets/bg/icon_detail_contribution.png" alt="トピックの詳細はコチラ"></p>
			</div>
			<div class="bbsClearfix">
				<div class="bbsDashed3"></div>
				<div class="bbsInfoBar bbsInfoBarR">【<%=a.category.name%>】<%=a.user.name%></div>
				<div class="bbsInfoBar bbsInfoBarL"><%=a.updated_at.strftime("%Y/%m/%d")%>　閲覧数:<%= a.impressionist_count %>　回答数:<%= a.comments.length %>　評価数:<%= a.topic_likes.length %></div>
			</div>
		</li>
		<% if b.present? %>
			<li>
				<div class="bbsBox" 						onclick="location.href='/topics/<%=b.id%>'" style="cursor: pointer;">
					<% if b.user.image.present?%>
						<a><%= image_tag b.user.image.url, class:"icon80" %></a>
					<%else%>
						<a><%= image_tag '/assets/bar/noface.jpg', class:"icon80" %></a>
					<%end%>
					<p class="bbsDetail" ><%=b.title%><img class=bbsImglnk  src="/assets/bg/icon_detail_contribution.png" alt="トピックの詳細はコチラ"></p>
				</div>
				<div class="bbsClearfix">
					<div class="bbsDashed3"></div>
					<div class="bbsInfoBar bbsInfoBarR">【<%=b.category.name%>】<%=b.user.name%></div>
					<div class="bbsInfoBar bbsInfoBarL"><%=b.updated_at.strftime("%Y/%m/%d")%>　閲覧数:<%= b.impressionist_count %>　回答数:<%= b.comments.length %>　評価数:<%= b.topic_likes.length %></div>
				</div>
			</li>
		<%end%>
	</ul>
<% end %>



	<div style="float:left;height:40px;overflow: hidden;" ><%= link_to_prev_page @topic, image_tag("/assets/bg/jmp_prev.png", style:"width:100%;align:left;") %></div>
	<div style="float:right;height:40px;overflow: hidden;"><%= link_to_next_page @topic, image_tag("/assets/bg/jmp_next.png", style:"width:100%;align:right;") %></div>
	<div style="clear:both;"></div>
</div><!-- category_area -->



      </div><!-- content_main_area_in -->
    </div><!-- content_main_area -->
</section>



</body>
</html>
